.root {
    -fx-background-color: #505050;
}

.cell {
    -fx-fill: #717171;
    -fx-stroke: #2e2e2e;
    -fx-stroke-width: 0.5;
}

.cell.alive {
    -fx-fill: #e6e6e6;
}

.cell.dead {
    -fx-fill: #717171;
}